
.firstscreen {
background-image: radial-gradient( circle farthest-corner at 3.7% 49.8%,  rgba(143,232,255,1) 21.9%, rgba(209,243,251,1) 52.9% );
}

.start1 {
 font-optical-sizing: auto;
 color: navy;
 font-weight: bold;
 font-family: "TASA Orbiter", sans-serif;
 font-size: 90px;
 display: flex;
 justify-content: center;
 align-items: center;

}

.subtitle1 {
 color: rgb(40, 76, 238);
 font-family: "TASA Orbiter", sans-serif;
 font-size: 35px;
 display: flex;
 justify-content: center;
 align-items: center;
 
}

#selectmain1, #selectmain2 {
background-color: rgb(26, 158, 219);
color:rgba(199, 253, 242, 0.945); 
margin: 0 auto;
display: inline;
font-family: "TASA Orbiter", sans-serif;
font-weight: bold;
padding: 15px 32px;
font-size: 16px;
text-align: center;
}

.secondscreen {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(202,248,255,1) 0%, rgba(186,204,227,1) 51.2%, rgba(117,144,179,1) 100.1% );
}

.subsecondscreen {
background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(170,245,248,1) 0%, rgba(248,162,239,0.8) 90% );
display: flex;
justify-content: center;
align-items: center; 
}

label {
display: block;
width: 100%;
margin-top: 10px;
margin-bottom: 5px;
text-align: left;
color: #555;
font-weight: bold;
}

#instructions {
margin-top: 20px;
background: rgb(17, 232, 196);
padding: 15px;
border-radius: 10px;
width: 500px;
margin-left: auto;
margin-right: auto;
text-align: left;
}

#output {
margin-top: 20px;
background: rgb(232, 227, 200);
padding: 15px;
border-radius: 10px;
width: 500px;
margin-left: auto;
margin-right: auto;
text-align: left;
}

.outputcode {
    color: cornflowerblue;
    font-size: 18px;
    font-weight: bold;
    font-family: "TASA Orbiter", sans-serif;
    text-align: center;
}

.thirdscreen {
    background-image: radial-gradient( circle farthest-corner at 3.7% 49.8%,  rgba(143,232,255,1) 21.9%, rgba(209,243,251,1) 52.9% );
}

.search1 {
flex-grow: 1; 
padding: 8px 12px;
border: none;
font-size: 16px;
outline: none; 
}

.searchicon {
padding: 8px 15px;
    background-color: #007bff;
        color: rgb(23, 252, 214);
            border: none;
            cursor: pointer;
            font-size: 16px;
            
}